@media (max-width: 1200px) {
    .promo {
        padding-top: 10px;
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            font-size: 30px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 5px;
        }
        &__icons {
            margin-top: 15px;
            width: 350px;
        }
    }
    .button {
        &_main {
            margin-top: 20px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        margin: 0 10px ;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 410px;
        padding-bottom: 0;
        &__header {
            font-size: 25px;
            line-height: 15px;
        }
    }
    .advantages {
        padding-top: 20px;
        &__wrapper {
            margin-top: 30px;
        }
    }
    .consultation {
        min-height: 600px;
        .title_left {
            font-size: 30px;
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .carousel {
        .slick-slide {
            img {
                width: 75%;
                margin: 0 auto;
            }
        }
    }
    .catalog {
        ul.catalog__tabs {
            margin-top: 50px;
        }
        &__content_active {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
}

@media (max-width: 769px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .advantages {
        padding: 10px;
        .title {
            font-size: 25px;
        }
        &__wrapper {
            margin-top: 25px;
            flex-direction: column;
            align-items:center;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin: 15px 0;
        }
    }
    .consultation {
        padding: 10px;
    }
    .carousel {
        &__inner {
            width: 100%;
        }
    }
}

@media (max-width: 577px) {
    .header {
        flex-direction: column;
        &__logo {
            width: 150px;
            margin-bottom: 10px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__contacts {
            margin-top: 10px;
            button {
                margin-top: 10px;
            }
        }
        &__phone {
            font-size: 15px;
        }
        button {
            width: 140px;
            height: 25px;
        }
    }
    .promo {
        min-height: 375px;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 22px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 15px;
            text-align: center;
        }
        &__icon {
            font-size: 13px;
            width: 100px;
        }
        &__icons {
            width: 100%;
        }
        .button {
            &_main {
                width: 270px;
                height: 40px;
            }
        }
        &__link {
            margin-top: 14px;
            font-size: 15px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 20px;
            }
        }

    }
    .carousel {
        display: none;
        &__inner {
            width: 100px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 15px;
            flex-direction: column;
            align-items:center;
        }
        .title {
            font-size: 25px;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__item {
            margin-bottom: 20px;
            img {
                width: 30%;
            }
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
    }
    .catalog {
        ul.catalog__tabs {
            margin-top: 20px;
            flex-direction: column;
        }
        li.catalog__tab {
            font-size: 10px;
            margin-bottom: 10px;
        }
        &__content {
            margin-top: 10px;
            &_active {
                margin: 10px auto;
            }
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            img {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__text {
            text-align: center;
            font-size: 12px;
            margin: 0 auto;
        }
    }
    .footer {
        width: 100%;
        &__info {
            max-width: 100%;
        }
    }
}