@media (max-width: 1200px) {
    .promo {
        padding-top: 10px;
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            font-size: 30px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 16px;
            margin-top: 5px;
        }
        &__icons {
            margin-top: 15px;
            width: 350px;
        }
    }
    .button {
        &_main {
            margin-top: 20px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        margin: 0 10px ;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 410px;
        padding-bottom: 0;
        &__header {
            font-size: 25px;
            line-height: 15px;
        }
    }
    .advantages {
        padding-top: 20px;
        &__wrapper {
            margin-top: 30px;
        }
    }
}

@media (max-width: 769px) {
    .advantages {
        padding: 10px;
        .title {
            font-size: 25px;
        }
        &__wrapper {
            margin-top: 25px;
            flex-direction: column;
            align-items:center;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin: 15px 0;
        }
    }
    .consultation {
        padding: 10px;
    }
}

@media (max-width: 577px) {
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
        button {
            width: 140px;
            height: 25px;
        }
    }
    .promo {
        min-height: 375px;
        &__header {
            font-size: 22px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icon {
            font-size: 13px;
        }
        .button {
            &_main {
                width: 270px;
                height: 40px;
            }
        }
        &__link {
            margin-top: 14px;
            font-size: 15px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 15px;
            flex-direction: column;
            align-items:center;
        }
        .title {
            font-size: 25px;
        }
        &__subtitle {
            margin-top: 15px;
        }
        &__item {
            margin-bottom: 20px;
            img {
                width: 30%;
            }
        }
        &__descr {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}